* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    color: rgb(20, 20, 20);
    background-image: url("../assets/wall.png");
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

a:hover {
    opacity: 1;
}

p {
    color: white;
}

.title {
    font-size: 60px;
    color: white;
    font-weight: 700;
}